.rain {
    background-color: $background-color;
    background-image: url("../../dist/img/rain.jpg");
}

.snow {
    background-color: $background-color;
    background-image: url("../../dist/img/snow.jpg");
}

.night {
    background-color: $night-color;
    background-image: url("../../dist/img/night.jpg");
}

.fog {
    background-color: $fog-color;
    background-image: url("../../dist/img/fog.jpg");
}

.clouds {
    background-color: $background-color;
    background-image: url("../../dist/img/clouds.jpg");
}

